*{
    font-family: Arial, Helvetica, sans-serif;
    
}

Header{
    margin: auto;
    background-color: #1a1a1a;
}

body{
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    margin: auto;
    width: 75%;
    color: silver;
}

h2{
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 75%;
}

h3{
    text-align: center;
    margin: auto;
    width: 75%;
}

.sectionHeader{
    margin: auto;
    width: 50%;
}

.convertorSection{
    margin-bottom: 5px;
}

.binaryToDecimalToBinaryConvertorSection{
    display:block;
    border: solid white 2px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00ffff, #ff5c33);
    
}

.colorConvertor{
    display:block;
    border: solid white 2px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#99ff66, #cc66ff);
}

.convertors{
    display: flex;

}

.convertorCard-2{
    display: block;
    width: 50%;
    margin: 5px;
    padding: 10px;
    border: 1px silver solid;
    color: silver;
    border-radius: 5px;
    background-color: #1a1a1a;
}

.convertorCard-3{
    display: block;
    width: 33%;
    margin: 5px;
    padding: 10px;
    border: 1px silver solid;
    color: silver;
    border-radius: 5px;
    background-color: #1a1a1a;
}

.convertorCard-4{
    display: block;
    width: 25%;
    margin: 5px;
    padding: 10px;
    border: 1px silver solid;
    color: silver;
    border-radius: 5px;
    background-color: #1a1a1a;
}

.convertorCardHeader{
    margin: auto;
    margin-bottom: 5px;
    width: 50%;
}
